<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-3 pull-left">
            <img src="img/logo.png" class="img-responsive center" alt="Placer Logo"/>
            <div class="filterbox col-sm-12">
                <h3>Filter Places</h3>
                <hr/>
                <input type="text" ng-model="searchText" placeholder="Search" class="form-control center">
                <br/>
                <a href="" class="btn btn-success center" ng-click="predicate = 'voteCount'; reverse=!reverse">Sort by Votes</a></a>
                <br/>
                <a href="" class="btn btn-info center" ng-click="predicate = 'datecreated'; reverse=!reverse">Sort by Date</a></a>
                <br/>
                <div id="map-canvas"></div>
                <br/><br/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 pull-right">
            <h1 class="homeh1">Welcome to Placer</h1>

            <h3>Find awesome places that you never knew existed!</h3>

            <p>Learn about interesting places near you, share your favorite hidden gems and start exploring new things
                today!</p>
            <br/>
            <section id="photos">
                <div class="pin grid effect-4" ng-repeat="location in locationList | filter:searchText | orderBy:predicate:reverse">
                    <a href="#/locationDetails/{{ location.id }}">
                        <div class="image">
                            <img src="{{ location.photo_url }}">
                        </div>
                        <h3 class="title btn-success">{{ location.locationName }}</h3>
                    </a>
                    <div class="padding15">
                        <p>{{ location.description | lenLimit100}}</p>
                    </div>

                    <div class="pininfo">
                        <div class="pull-left">
                            <div class="center">
                                <a ng-click="countChoculaUp(location)"><span class="glyphicon glyphicon-chevron-up"></span></a><br/>
                                <p class="">{{location.voteCount}}</p>
                                <a ng-click="countChoculaDown(location)"><span class="glyphicon glyphicon-chevron-down"></span></a><br/>
                            </div>
                        </div>
                        <div class="pull-right" ng-click="starLocation(location)">
                                <span class="glyphicon glyphicon-star-empty" ng-hide="location.starLocation"></span>
                                <span class="glyphicon glyphicon-star" ng-show="location.starLocation"></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


</div>

<script src="js/masonry.pkgd.min.js"></script>
<script src="js/imagesloaded.js"></script>
<script src="js/classie.js"></script>
<script src="js/AnimOnScroll.js"></script>
<script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
    } );
</script>
